*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --background__color: #ffffff;
  --font__color: #000;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0px 0 45px 0;
  font-family: system-ui;
}