.header {
    text-align: center;  
    background-color: var(background_color);
    color: var(font_color);
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .header__heading {
    margin: 0;
  }
  
  .nav {
    display: flex;
    justify-content: space-around;  
    background-color: var(background_color);
    color: var(font_color);
    height: 75px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }