*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0px 0 45px 0;
  font-family: system-ui;
}

.header {
  text-align: center;  
  background: white;
  color: black;
  height: 120px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header__heading {
  margin: 0;
}

.footer {
  display: flex;
  justify-content: space-around;  
  background: white;
  color: black;
  height: 75px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.card {
  text-align: center;
  height: 400px;  
  margin: 20px 10%;
  border: 5px solid #252629;
  padding: 3% 10%;
  scroll-margin-top: 100px;
  position: relative;
}

.card__heading {
  margin: 0 0 90px 0px;
}

.card__bookmark {
  padding: 6px 12px;  
  position: absolute;
  right: 2rem;
  top: -2rem;
}

.answer {
    padding: 25px 50px;
}

.tags {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}

.tag {
    align-items: flex-end;
    padding: 6px 12px;
  }